.node-container {
  margin-left: 20px;
  
  .node-content {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: fit-content;
    
    &.highlighted {
        background-color: #fff3cd !important;
        border-color: #ffc107 !important;   
        box-shadow: 0 0 8px rgba(255, 193, 7, 0.6); 
        font-weight: bold;
  }
  }

  .node-children {
    border-left: 1px dashed #ccc;
    padding-left: 10px;
  }
}